/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-icon {
    position: relative;
    right: 32px;
    top:8px;
    width: 24px;
    height:24px;
    font-size: 24px;
    cursor: pointer;
  }

  .table-rows{border: solid 1px
    
    lightblue;font-size: 12px;
    
    text-align: justify;}

    .table-rows td{
      border: solid 1px
    
        lightblue;font-size: 12px;
    }
